.achievement-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.achievement-title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 7px;
    padding: 5px;
}

.achievement-title-section img {
    height: 1em;
}

.achievement-title {
    font-weight: 500;
    text-align: center;
    line-height: 1;
    width: fit-content;
    display: inline;

    padding-top: 5px;
}

.achievement-description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.achievement-description {
    font-size: 0.9em;
    line-height: 1.1;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.achievement-checkbox {
    height: 1em;
}

.achievement-checkbox img {
    height: 100%;
}

.achievement-completed {
    border: 2px solid #2D3748;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.achievement-uncompleted {
    border: 2px solid #CBD5E0;
    color: #A0AEC0;
}

.achievement-uncompleted .achievement-title {
    font-weight: normal;
}

.achievement-uncompleted img {
    display: none;
}

.achievement-requirement {
    font-style: italic;
    font-size: 0.85em;
}