.popup-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;

    animation: blur-in 0.4s ease-in-out forwards;
}

@keyframes blur-in {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.achievements-popup {
    position: absolute;

    --side-offset: 10vw;
    top: 5vh;
    height: 85vh;
    left: var(--side-offset);
    right: var(--side-offset);

    background-color: white;
    border-radius: 20px;

    border: 5px solid #2D3748;

    z-index: 12;

    padding: 20px;
    padding-top: 0px;

    backdrop-filter: blur(10px);
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    animation: popup-slide-in 0.3s ease-out forwards;
}

@keyframes popup-slide-in {
    0% {
        top: 100vh;
    }

    100% {
        top: 5vh;
    }
}

.achievements-popup::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.achievements-title {
    line-height: 1;
    text-align: center;
    border-bottom: 2px solid #2D3748;
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.achievements-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}