:root {
  --article-width: 800px;
  --achievements-offset: 20px;
  --achievements-height: max(2vw, 1.7rem); /* 1.7rem; */

  --achievement-border: max(0.2vw, 2px) solid #171923;
  --achievement-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.title-container {
  background-color: #C6F6D5;
  text-align: center;

  padding: 3em;
  margin-bottom: 2vw;
}

.title-container h1 {
  margin: 0;
  color: #171923;
}

.subtitle {
  margin: 0;
  padding-top: 6px;

  font-style: italic;
  font-weight: 500;
  font-size: 1.5em;
  color: #2D3748;
}

.article {
  margin: 0 auto;
  padding: 1em;
  max-width: var(--article-width);
}

.chart {
  max-width: var(--article-width);
  width: 80vw;
  max-height: 50vh;
  aspect-ratio: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.read-article {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: white;
  font-size: 0.9em;
  border-top-right-radius: 5px;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
}


.citations-page li {
  margin-bottom: 20px;
}

.reset {
  cursor: pointer;
}

#root {
  background-color: white;
}

body {
  background-color: #E2E8F0;
}